@keyframes rotate-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes rotate-right {
  0% {
    transform: rotate(90deg);
  }
  100% {
    margin: 0;
    transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo {
  @apply relative;

  & > .inner {
    @apply flex items-center content-center;

    position: relative;
    text-align: center;

    &::after {
      @apply bg-nuetral-white;

      content: '';
      display: block;
      height: 2.75rem;
      width: 0.25rem;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      transform: rotate(18deg);
      opacity: 0;
      transition: 200ms linear all;
    }

    &:hover {
      &::after {
        opacity: 1;
      }

      & svg {
        &:first-child {
          transform: rotate(-90deg) translate(0, -0.75rem);
        }
        &:nth-child(2) {
          transform: rotate(90deg) translate(0, -0.75rem);
        }
      }
    }
  }

  & svg {
    @apply fill-current relative;

    width: 2rem;
    height: auto;

    &:first-child,
    &:nth-child(2) {
      transition: 200ms linear all;
      transform: rotate(0deg);
    }
  }
}
