.postContent {
  @apply text-lg;

  & .inner {
    @apply p-4 max-w-3xl mx-auto;
  }

  & h1 {
    @apply text-3xl mb-4;
  }

  & h2 {
    @apply text-2xl mb-4;
  }

  & h3 {
    @apply text-xl mb-4;
  }

  & h4 {
    @apply text-lg;
  }

  & p {
    @apply mb-6;

    & code {
      @apply text-primary-purple1 bg-purple-100 font-mono text-sm rounded-sm;

      padding: 0.125rem;
    }
  }

  & pre {
    @apply text-lg mb-4 rounded-sm py-4 font-mono;
  }

  & blockquote {
    @apply bg-tertiary-teal bg-opacity-5 px-4 py-4 mb-6 relative font-light;

    &::after {
      @apply text-tertiary-teal absolute inset-0 h-full w-full;

      --length: 0.2rem;
      content: '';
      display: block;
      background: linear-gradient(
            to right,
            currentColor var(--length),
            transparent var(--length)
          )
          0 0,
        linear-gradient(
            to right,
            currentColor var(--length),
            transparent var(--length)
          )
          0 100%,
        linear-gradient(
            to left,
            currentColor var(--length),
            transparent var(--length)
          )
          100% 0,
        linear-gradient(
            to left,
            currentColor var(--length),
            transparent var(--length)
          )
          100% 100%,
        linear-gradient(
            to bottom,
            currentColor var(--length),
            transparent var(--length)
          )
          0 0,
        linear-gradient(
            to bottom,
            currentColor var(--length),
            transparent var(--length)
          )
          100% 0,
        linear-gradient(
            to top,
            currentColor var(--length),
            transparent var(--length)
          )
          0 100%,
        linear-gradient(
            to top,
            currentColor var(--length),
            transparent var(--length)
          )
          100% 100%;
      background-repeat: no-repeat;
      background-size: 1rem 1rem;
    }

    & :last-child {
      @apply mb-0;
    }
  }
}
