.header {
  @apply font-sans text-nuetral-white bg-primary-purple1 py-4 px-8;

  & .inner {
    @apply flex items-center max-w-7xl mx-auto;
  }

  & .menu {
    @apply inline-block text-lg uppercase;

    & ul {
      @apply flex flex-row m-0 list-none;

      & li {
        @apply m-0 mr-4 list-none;

        & a {
          @apply text-nuetral-white;

          &:hover,
          &:focus {
            @apply underline text-secondary-pink outline-none;
          }
        }

        &:last-child {
          @apply mr-0;
        }
      }
    }
  }

  & .logo {
    @apply inline-block text-3xl font-normal mr-auto uppercase;

    letter-spacing: 1px;

    &:hover,
    &:focus {
      @apply opacity-70 transition-all;
    }

    & img {
      @apply block;

      max-width: 4.25rem;
    }
  }

  & svg {
    fill: #fff;
  }
}
