.hero {
  @apply relative flex flex-col items-center justify-center font-sans bg-primary-purple1 text-nuetral-white text-center h-auto max-h-full max-w-full z-1 p-4 mb-4;

  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 88%, 0% 25%);
  min-height: 60vh;

  @media screen and (min-width: 48em) {
    @apply py-4 px-6;
  }

  &::before {
    @apply absolute z-behind inset-0 bg-primary-purple1 bg-opacity-80;

    content: '';
  }

  & .title {
    @apply text-5xl md:text-6xl lg:text-7xl font-semibold;
  }

  & .content {
    @apply text-lg lg:text-xl font-semibold mt-6;
  }

  & .inner-wrap {
    @apply relative bg-primary-purple2 z-1 my-0 mx-auto text-left w-full py-12 px-5 max-w-2xl;

    @screen lg {
      @apply p-8;
    }
  }
}
