.hero {
  @apply relative flex flex-col items-center justify-center font-sans text-nuetral-white text-center h-auto max-h-full max-w-full;

  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 88%, 0% 25%);
  margin-bottom: 1em;
  min-height: 60vh;
  padding: 1em 1rem;
  z-index: 2;

  @media screen and (min-width: 48em) {
    padding: 1em 1.5rem;
  }

  &::before {
    @apply absolute z-behind inset-0;

    background-color: rgb(2, 0, 65);
    content: '';
    opacity: 0.8;
  }

  & .title {
    font-weight: 600;
    font-size: 2.2em;
    margin-bottom: 0;
    width: 100%;

    @media screen and (min-width: 48em) {
      font-size: 3.6em;
    }
    @media screen and (min-width: 60em) {
      font-size: 4em;
      line-height: 1.4em;
    }
  }

  & hr {
    @apply bg-tertiary-teal;

    border: 0;
    margin: 1.2em auto;
    height: 3px;
    border-radius: 20px;
    max-width: 140px;
    width: 100%;
  }

  & .content {
    font-size: 1.4em;
    font-weight: 800;
  }

  & .inner-wrap {
    @apply bg-primary-purple2 z-1;

    margin: 0 auto;
    max-width: 40em;
    padding: 3em 1.2em;
    position: relative;
    text-align: left;
    width: 100%;

    @media screen and (min-width: 60em) {
      padding: 2em;
    }
  }
}
