.cta {
  @apply relative flex flex-col justify-items-center text-center text-nuetral-white items-center m-0 mx-auto p-5 md:py-16 lg:py-40;

  background-size: cover;
  box-sizing: border-box;
  min-height: 430px;

  &::before {
    @apply absolute inset-0 z-1 bg-primary-purple2 bg-opacity-80;

    content: '';
  }

  & hr {
    @apply border-0 my-5 mx-0 bg-tertiary-teal rounded-full w-full;

    height: 0.1875rem;
    max-width: 8.75rem;
  }

  & .inner {
    @apply relative bg-primary-purple2 text-left m-0 mx-auto max-w-2xl py-12 px-5 w-full z-1;

    @screen lg {
      @apply px-8;
    }
  }

  & .title {
    @apply p-0 text-4xl font-semibold;
  }

  & .content {
    @apply p-0;

    font-size: 1em;
    line-height: 1.6em;
  }

  & .button {
    @apply mt-4;
  }
}
